bound_evaluation/*.npy
bound_evaluation/*.pdf
bound_evaluation/*.txt
bound_evaluation/*.png
bound_evaluation/*.out
**/__pycache__/
**/plots_and_matshows/

**/.ipynb_checkpoints*
**/.vs*
Pipfile
__pycache__
.conda
.pytest_cache
drafts.py
images/
inv_design/results/
inv_design/legacy/
inv_design/plots/
.ipynb_checkpoints/
.vs/
**/.png